    {% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid pm-cont-01">
        <div class="row">
            <div class="col-md-3 mp-bg-02">

            </div>
        </div>
    </section>
    <section class="container-fluid pm-cont-02">
        <div class="block-center">
            <div class="row">
                <div class="col-md-9 offset-md-2 bg-light block-col">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Lorem ipsum dolor amet listicle jianbing schlitz, hot chicken PBR&B letterpress venmo. Chillwave whatever shoreditch, paleo XOXO kickstarter messenger bag squid chicharrones gluten-free fingerstache vexillologist meditation stumptown. Kinfolk everyday carry helvetica vice. Trust fund chartreuse sartorial, hell of selfies ethical shoreditch. Raclette beard before they sold out air plant, la croix selvage church-key literally helvetica. Fashion axe umami cornhole next level. Mustache scenester fixie narwhal forage humblebrag.

                                Tilde marfa iceland pok pok letterpress stumptown, lumbersexual synth chartreuse etsy yuccie tousled flannel pitchfork. Cornhole fingerstache chambray cloud bread enamel pin you probably haven't heard of them tumeric authentic. Everyday carry umami readymade, wolf tbh bushwick cliche tote bag lumbersexual brooklyn. Fixie actually biodiesel, four loko fam you probably haven't heard of them venmo before they sold out pok pok af pop-up messenger bag lomo mumblecore. Hashtag chillwave copper mug knausgaard yr distillery waistcoat gluten-free fam tattooed put a bird on it schlitz thundercats taxidermy. Four dollar toast chicharrones kale chips poke deep v prism kombucha. Squid everyday carry tofu live-edge.

                                Iceland banh mi brooklyn, authentic pop-up pour-over tumeric. Irony hella portland helvetica hoodie next level. Whatever raclette farm-to-table flexitarian heirloom distillery. Normcore DIY deep v franzen pok pok austin cold-pressed actually church-key meditation migas. Shoreditch pop-up gochujang, flannel vegan pork belly gastropub artisan blue bottle trust fund ramps skateboard plaid readymade banjo.

                                Chartreuse distillery vape prism tofu, fam ramps you probably haven't heard of them cray before they sold out. Chicharrones beard shoreditch keytar PBR&B. Umami whatever messenger bag green juice kickstarter enamel pin vape squid shaman. Pug bicycle rights drinking vinegar tacos +1 vice. Farm-to-table pour-over gochujang, swag yuccie waistcoat sartorial adaptogen taiyaki photo booth banh mi. Shoreditch vinyl scenester, neutra chartreuse edison bulb wayfarers shabby chic. Salvia squid affogato, hammock woke lumbersexual williamsburg pok pok vaporware gastropub seitan quinoa venmo pickled.

                                Kombucha chicharrones artisan tilde waistcoat viral. Freegan pug butcher tacos godard, microdosing bushwick. Mlkshk meh freegan, austin bicycle rights tumeric actually deep v fashion axe +1 palo santo organic. Lomo cold-pressed keffiyeh, green juice meggings VHS hot chicken YOLO cred hexagon cardigan tilde jean shorts pok pok. Sartorial single-origin coffee put a bird on it cronut intelligentsia everyday carry.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                Lorem ipsum dolor amet listicle jianbing schlitz, hot chicken PBR&B letterpress venmo. Chillwave whatever shoreditch, paleo XOXO kickstarter messenger bag squid chicharrones gluten-free fingerstache vexillologist meditation stumptown. Kinfolk everyday carry helvetica vice. Trust fund chartreuse sartorial, hell of selfies ethical shoreditch. Raclette beard before they sold out air plant, la croix selvage church-key literally helvetica. Fashion axe umami cornhole next level. Mustache scenester fixie narwhal forage humblebrag.

                                Tilde marfa iceland pok pok letterpress stumptown, lumbersexual synth chartreuse etsy yuccie tousled flannel pitchfork. Cornhole fingerstache chambray cloud bread enamel pin you probably haven't heard of them tumeric authentic. Everyday carry umami readymade, wolf tbh bushwick cliche tote bag lumbersexual brooklyn. Fixie actually biodiesel, four loko fam you probably haven't heard of them venmo before they sold out pok pok af pop-up messenger bag lomo mumblecore. Hashtag chillwave copper mug knausgaard yr distillery waistcoat gluten-free fam tattooed put a bird on it schlitz thundercats taxidermy. Four dollar toast chicharrones kale chips poke deep v prism kombucha. Squid everyday carry tofu live-edge.

                                Iceland banh mi brooklyn, authentic pop-up pour-over tumeric. Irony hella portland helvetica hoodie next level. Whatever raclette farm-to-table flexitarian heirloom distillery. Normcore DIY deep v franzen pok pok austin cold-pressed actually church-key meditation migas. Shoreditch pop-up gochujang, flannel vegan pork belly gastropub artisan blue bottle trust fund ramps skateboard plaid readymade banjo.

                                Chartreuse distillery vape prism tofu, fam ramps you probably haven't heard of them cray before they sold out. Chicharrones beard shoreditch keytar PBR&B. Umami whatever messenger bag green juice kickstarter enamel pin vape squid shaman. Pug bicycle rights drinking vinegar tacos +1 vice. Farm-to-table pour-over gochujang, swag yuccie waistcoat sartorial adaptogen taiyaki photo booth banh mi. Shoreditch vinyl scenester, neutra chartreuse edison bulb wayfarers shabby chic. Salvia squid affogato, hammock woke lumbersexual williamsburg pok pok vaporware gastropub seitan quinoa venmo pickled.

                                Kombucha chicharrones artisan tilde waistcoat viral.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
