    {% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid pm-cont-01">
        <div class="row">
            <div class="col-md-3 mp-bg-02">

            </div>
        </div>
    </section>
    <section class="container-fluid pm-cont-02">
        <div class="block-center">
            <div class="row">
                <div class="col-md-9 offset-md-2 block-col bg-white">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Experiences</h3>
                        </div>
                        <div class="col-md-12">
                            <ul class="timeline p-2 bg-light">
                                <li><span></span>
                                    <h5>Formation à la Wilde Code School - Lyon (69)</h5>
                                    <div>
                                        Développement d’une plateforme dans le domaine de la formation.</br>
                                        Réalisation de la plateforme sous SYMFONY 3.4</br>
                                        Réalisation du front en HTML5 CSS3 et BOOTSTRAP.</br>
                                        Mise en place des fonctionnalités suivantes :</br>
                                        <ul class="list-type-experience">
                                            <li>Création utilisateur</li>
                                            <li>connexion utilisateur</li>
                                            <li>gestion d’un profil utilisateur</li>
                                            <li>gestion des envoies d’e-mail automatique</li>
                                            <li>réalisation d’un back-end</li>
                                        </ul>
                                    </div>
                                    <div><span class="number"><span>Février 2018</span> <span>juillet 2018</span></span> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <ul class="timeline p-2 bg-light">
                                <li><span></span>
                                    <h5>
                                        CONDUCTEUR DE TRAVAUX
                                        Ets SRPB - Corbas (69)
                                    </h5>
                                    <div>
                                        Second œuvre : Etanchéité par l’extérieur (ITE)</br>
                                        <ul class="list-type-experience">
                                            <li>Gestion des prérequis exigés par la maîtrise d’œuvre avant le démarrage des chantiers.</li>
                                            <li>Réalisation des plans d’Exécutions et des carnets de détails via Autocad</li>
                                            <li>Réalisation des plans d’Exécutions et des carnets de détails via Autocad</li>
                                            <li>Réalisation des situations financières à l’avancement des chantiers</li>
                                        </ul>
                                    </div>
                                    <div><span class="number"><span>Septembre 2017</span> <span>décembre 2017</span></span> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <ul class="timeline p-2 bg-light">
                                <li><span></span>
                                    <h5>
                                        CONDUCTEUR DE TRAVAUX
                                        Groupe Prezioso-Linjebygg - Saint Maurice l’exil (38)</br>
                                        Agence : Peinture et revêtement anticorrosion technique nucléaire
                                    </h5>
                                    <div>
                                            Analyse des appels d’offre et réalisation des budgets prévisionnels</br>
                                            Définition et gestion des ressources humaines et de l’équipement de chantier</br>
                                            Gestion des processus QHSRE (Qualité hygiène sécurité radioprotection environnement)</br>
                                        <ul class="list-type-experience">
                                            <li>Réalisation des DRT (Dossier de réalisation de travaux)</li>
                                            <li>Réalisation des analyses de risques</li>
                                            <li>Réalisation des RFI (Rapport de fin d’intervention)</li>
                                            <li>Gestion et résolution des remontées d’anomalies de chantier</li>
                                        </ul>
                                            Préparation et réalisation des plans de prévention ainsi que des réunions d’enclenchement / levées des préalables
                                            Élaboration des plannings, suivi de la production et du rendement des chantiers
                                            Gestion managériale des différents intervenant au sein des chantiers (chefs de chantier / préparateur dossier / chef d’équipe / exécutants)
                                            Réalisation et envoi des facturations (avancement, achèvement)
                                            Réalisation des revues d’affaires en collaboration avec le contrôleur de gestion
                                            Mise en place et suivi d’une démarche d’excellence opérationnelle, « Lean Management »</br>
                                    </div>
                                    <div><span class="number"><span>Novembre 2013</span> <span>aout 2017</span></span> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="interests">
                                <h3 class="text-center">mes centres d'intérêt</h3>
                                <li class="bg-light">
                                    <i class="fas fa-football-ball"></i>
                                    <h6>Rugby</h6>
                                </li>
                                <li class="bg-light">
                                    <i class="fas fa-gamepad"></i>
                                    <h6>Video game</h6>
                                </li>
                                <li class="bg-light">
                                    <i class="fas fa-camera"></i>
                                    <h6>Photographie</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
