{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid pm-cont-01">
        <div class="row">
            <div class="col-md-3 mp-bg-02">

            </div>
        </div>
    </section>
    <section class="container-fluid pm-cont-02">
        <div>
            <div class="row">
                <div class="col-md-9 offset-md-2 bg-light px-0">
                    <div class="row align-items-center">
                        <div class="col-md-4 ">
                            <img src="{{ asset('_DSC1096.jpg') }}" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h1>A PROPOS DE MOI</h1>
                            <p>
                                Pug shaman disrupt flannel locavore, squid green juice direct trade.
                                Skateboard cray mixtape cold-pressed shoreditch cred 3 wolf moon
                                sustainable drinking vinegar cloud bread health goth pinterest. Quinoa
                                woke activated charcoal, mixtape fashion axe synth raw denim af ugh dreamcatcher.


                            </p>
                            <p>
                                FORMULAIRE
                            </p>
                            <button type="button" class="btn btn-primary btn-lg">Large button</button>
                            <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
