{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid pm-cont-01" xmlns="http://www.w3.org/1999/html">
        <h3>Education</h3>
        <ul class="timeline">
            <li><span></span>
                <div> Maçon</div>
                <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has </div>
                <div><span class="number"><span>2000</span> <span>2004</span></span> </div>
            </li>
        </ul>

    </section>


    <!--
    <section class="container-fluid pm-cont-01">
        <h3 class="title iq-tw-8">Education</h3>
        <ul class="education">
            <li><span></span>
                <div>
                    <div>Bachelor Degree</div>
                    <div>ACPIS</div>
                    <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div> <span class="number"><span>2000</span> <span>2004</span></span>
            </li>
            <li><span></span>
                <div>
                    <div class="lead iq-tw-6 iq-font-black">Master Degree</div>
                    <div class="type iq-font-purple">Col Institute</div>
                    <div class="info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div> <span class="number"><span>2005</span> <span>2007</span></span>
            </li>
            <li><span></span>
    </section>
    -->

{% endblock %}
