/*---------------------------------------------------------------------
                               Structure
-----------------------------------------------------------------------*/


body, html {
    height:100%;
    width: 100%;
    background-color: #fff;
    position: relative;

}

footer {
    width:100%;
    height: 5%;

}

nav{
    height: 5%;
    width: 100%;
}


.footer-ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

.footer-ul li{
    margin-right: 1rem;
}

.mp-bg-02{

    height: 100vh;
    background: rgb(27, 157, 189); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(27, 157, 189, 1) 25%, rgba(55, 209, 229, 1) 74%, rgba(134, 229, 240, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(27, 157, 189, 1) 25%, rgba(55, 209, 229, 1) 74%, rgba(134, 229, 240, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(27, 157, 189, 1) 25%, rgba(55, 209, 229, 1) 74%, rgba(134, 229, 240, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b9dbd', endColorstr='#86e5f0', GradientType=1); /* IE6-9 */
}

.pm-cont-01{
    position: absolute;
    z-index: 2;


}

.pm-cont-02{
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
}

/*----------------
Présentation
----------------*/



/*----------------
A propos de moi
----------------*/


/*----------------
Résumé
----------------*/

.block-center{
    width: 100%;
}
.block-col{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
}

/*----------------
Compétences
----------------*/

/*----------------
Portfolio
----------------*/

/*----------------
Ma veille
----------------*/

/*----------------
Me contacter
----------------*/

/*----------------
Test
----------------*/

.timeline {
    position: relative;
    margin-left: 200px;
    list-style: none;
    margin-top: 1.5rem;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

}

ul.timeline:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 90%;
    border: 2px solid #777777;
    position: absolute;
    left: -50px;
    top: -10px;
}

.timeline:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 90%;
    border: 2px solid #777777;
    position: absolute;
    left: -50px;
    bottom: -10px;

}

.number{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -46px;
    width: 2px;
    background-color: red;
    content: '';
}
span.number {height: 100%}
span.number span{
    position: absolute;
    width: 150px;
    right: 10px;
    font-weight: bold;
    text-align: end;
}
span.number span:first-child { top: -16px; }
span.number span:last-child { top: 97%; }

/* MY INTEREST */

.interests li {
    float: left;
    display: inline-block;
    padding: 50px 15px;
    width: 30%;
    text-align: center;
    margin-right: 15px;
    background: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.interests li i { font-size: 34px; color: blue; margin-bottom: 15px; }

.interests li:last-child { margin-right: 0; }

.interests{
    position: relative;
    margin-left: 200px;
}

/*
.interests{
    font-size: 30px;
    color: #0000F0;

}

.interests > .card {

    display: inline-block;
    width: 30%;
    text-align: center;
    margin-right: 15px;
    background: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.aaa{
    margin-left: 200px;
}
*/


/*---------------------------------------------------------------------
                               Visual grid
-----------------------------------------------------------------------*/
/*
[class*="col-"] {

    border: 2px solid black;
    border-radius: 6px;


}

[class*="row"] {

    border: 2px solid black;
    border-radius: 6px;


}*/

